<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://farm4.staticflickr.com/3293/2396976523_b9cca3b34c.jpg"></img>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>